body{background-color: var(--color-tone-7);}

:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #939598;
    --white: #fff;
    --black: #212121;
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-nav-hover: #2f2f31;
    --opacity-50: rgba(0, 0, 0, 0.5);
}

#game{
    display: grid;
    grid-gap: 0px;
    padding: 10px;
    width: 335px;
    height: 400px;
    margin: auto;
}

.title{
    text-align: center;
    font: bold 75px Arial;
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
}

.row{
    background-color: none;
    width: 335px;
    height: 62px;
    display: grid;
    grid-template-columns: 67px 67px 67px 67px 67px;
    margin-bottom: 5px;
}

.letter{
    background-color: var(--color-tone-7);
    width: 58px;
    height: 58px;
    border: 2px var(--color-tone-4) solid;
    text-align: center;
    font: bold 32px Arial;
    line-height: 62px;
    color: white;
}

.letter.correct{
    background-color: var(--darkendGreen);
    border: 0px black solid;
    width: 62px;
    height: 62px;
}

.letter.contains{
    background-color: var(--darkendYellow);
    border: 0px black solid;
    width: 62px;
    height: 62px;
}

.letter.incorrect{
    background-color: var(--color-tone-4);
    border: 0px black solid;
    width: 62px;
    height: 62px;
}